[flake8]
# Setar o número máximo de caracteres por linha 
max-line-length = 100

# Ignorar erros específicos 
extend-ignore = E203, W503

# Excluir arquivos e diretórios específicos da análise
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    venv
    __init__.py

# Setar o número máximo de complexidade para o código
max-complexity = 25

# Desabilitar erros específicos para arquivos ou diretórios específicos
per-file-ignores =
    __init__.py: F401
    tests/*.py: S101